.app-bar {
  --app-bar-color: var(--primary-color);
  --app-bar-text-color: var(--on-primary-color);
  width: 100%;
  height: 3.5rem;
  background-color: var(--app-bar-color);
  display: flex;
  justify-content: space-between;
  color: var(--app-bar-text-color);
}

.app-bar.surface-color {
  --app-bar-color: var(--surface-color);
  --app-bar-text-color: var(--on-surface-color);
}

.app-bar>div {
  display: flex;
}

.app-bar .title {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075rem;
  margin-left: .5rem;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
  overflow: hidden;
  word-wrap: none;
}

.app-bar .icon {
  fill: var(--app-bar-text-color);
}

.app-bar .icon input {
  opacity: 0;
  width: 0px;
  transition: width 100ms ease-in-out, opacity 0ms linear 100ms;
  margin-right: .5rem;
}

.app-bar .icon input:focus {
  opacity: 1;
  width: 10rem;
  transition: width 100ms ease-in-out, opacity 0ms linear 0ms;
}

.app-bar .icon input+* {
  cursor: pointer;
}

.app-bar input[type="date"],
.app-bar input[type="datetime-local"],
.app-bar input[type="email"],
.app-bar input[type="month"],
.app-bar input[type="number"],
.app-bar input[type="password"],
.app-bar input[type="search"],
.app-bar input[type="tel"],
.app-bar input[type="text"],
.app-bar input[type="time"],
.app-bar input[type="url"],
.app-bar input[type="week"] {
  border-bottom: 2px solid white;
  color: var(--on-primary-color);
  background-color: transparent;
}

.app-bar input::placeholder {
  opacity: .6;
  color: var(--app-bar-text-color);
}