<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>App Bar</title>
  <style>
    html,
    body {
      margin: 0;
      font-family: Roboto, sans-serif;
    }
  </style>
  <link href="../fonts/fonts.css" rel="stylesheet">
  <link rel="stylesheet" href="common.css" type="text/css">
  <link rel="stylesheet" href="app-bar.css" type="text/css">
</head>

<body>
  <div class="app-bar">
    <div>
      <div class="title">Title</div>
    </div>
    <div>
      <!-- Right Aligned -->
    </div>
  </div>
</body>

</html>