hr {
  border: none;
  border-top: 1px solid lightgray;
}
.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}
.card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 52px;
}
.card .title-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 0px;
}
.card .title-box+* {
margin-top: 11px;
margin-bottom: 0px;
}
.card-title {
  display: inline-block;
  margin-left: 16px;
  vertical-align: super;
  margin-top: 0px;
  vertical-align: top;
  height: 100%;
}
.card-title>span {
  display: block;
  font-size: smaller;
  color: gray;
}
.card .buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px;
}