:root {
  --primary-color: #2196f3;
  --primary-variant-color: #1769aa;
  --secondary-color: #f50057;
  --secondary-variant-color: #ab003c;
  --background-color: #fff;
  --surface-color: #fff;
  --error-color: #B00020;
  --on-primary-color: white;
  --on-secondary-color: #fff;
  --on-background-color: #000000;
  --on-surface-color: #000;
  --on-error-color: #FFFFFF;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--on-background-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
  width: 100%;
}

.icon {
  min-width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin: 0.75rem;
}

.thumbnail {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}

.card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  color: var(--on-surface-color);
  background-color: var(--surface-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  border-radius: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3.25rem;
}

.card .title-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0px;
}

.card .title-box+* {
  margin-top: 0.6875rem;
  margin-bottom: 0px;
}

.card-title {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: super;
  margin-top: 0px;
  vertical-align: top;
  height: 100%;
  font-weight: 500;
  margin-top: 0.25rem;
}

.card-title>span {
  display: block;
  font-size: smaller;
  color: var(--on-surface-color);
  opacity: .5;
}

.card .buttons {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 1rem);
  padding: .5rem;
}

table {
  background-color: var(--surface-color);
  border: 1px solid lightgray;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

table tbody tr:hover {
  background-color: #0001;
}

table tbody tr {
  border-top: 1px solid lightgray;
}

table th,
table td {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 3.25rem;
}

details {
  color: var(--on-surface-color);
  background-color: var(--surface-color);
  /* add var color */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  border-radius: 4px;
}

details summary {
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  cursor: pointer;
}

details summary+* {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}
.details-group details {
  border-radius: 0px;
}
.details-group details:first-of-type {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.details-group details:last-of-type {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.details-group details[open]:not(:first-of-type) {
  margin-top: 1rem; 
}
.details-group details[open]:not(:last-of-type) {
  margin-bottom: 1rem;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary:after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 1.5rem;
  top: .75rem;
  background: transparent url('data:image/svg+xml,<svg fill="grey" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>') 50% 50% / 18px no-repeat;
  transition: transform 100ms ease-in-out;
}

details[open] summary:after {
  transform: rotate(-180deg);
}

details summary:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li {
  padding: 1rem;
}

ul li:not(:last-of-type) {
  border-bottom: 1px solid lightgrey;
}

ul details {
  background-color: transparent;
  margin: -1rem;
  box-shadow: none;
}

ul details summary {
  padding: 1rem;
  font-weight: inherit;
}

ul details[open] summary {
  color: var(--primary-color);
}

ul details summary+* {
  padding: 1rem;
  padding-top: 0px;
}

code {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  color: var(--on-surface-color);
  background: var(--surface-color);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: .9rem;
  word-wrap: break-word;
  line-height: 1.5;
  border-left: 3px solid var(--primary-color);
  border-radius: 4px;
  overflow: auto;
  padding: 1rem 1.5rem;
  display: block;
}

samp {
  font-size: .9rem;
}

kbd {
  border: solid 1px var(--on-surface-color);
  border-radius: 4px;
  padding: 0.125rem 0.25rem;
  font-size: .9rem;
}

[tooltip] {
  position: relative;
}

[tooltip]:after, [tooltip-left]:after, [tooltip-right]:after  {
  position: absolute;
  color: #FFF;
  background-color: #232F34BB;
  border-radius: 0.25rem;
  padding: .5rem;
  white-space: nowrap;
  display: none;
  font-size: .8rem;
}
[tooltip]:after {
  content: attr(tooltip);
  right: initial;
  left: 50%;
  top: 100%;
  transform: translate(-50%, .5rem);
}
[tooltip-left]:after {
  content: attr(tooltip-left);
  left: initial;
  right: calc(100%);
  top: 50%;
  transform: translate(-0.5rem, -50%);
}

[tooltip-right].right:after {
  content: attr(tooltip-right);
  left: calc(100%);
  right: initial;
  top: 50%;
  transform: translate(.5rem, -50%);
}
[tooltip]:hover:after, [tooltip-left]:hover:after, [tooltip-right]:hover:after {
  display: block;
  position:absolute;
}