:root {
  --checkbox-radio-color: var(--secondary-color);
  --button-color: var(--primary-color);
  --button-text-color: var(--on-primary-color);
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  padding: 8px 0px 8px;
  font-size: large;
  border: none;
  border-bottom: 1px solid gray;
  color: var(--on-surface-color);
  background-color: transparent;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 1px;
}

input[type="date"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
textarea:hover {
  margin-bottom: 0px;
  border-bottom: 2px solid var(--on-surface-color);
}

input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus {
  margin-bottom: 0px;
  border-bottom: 2px solid var(--primary-color);
}

.app-bar input[type="date"],
.app-bar input[type="datetime-local"],
.app-bar input[type="email"],
.app-bar input[type="month"],
.app-bar input[type="number"],
.app-bar input[type="password"],
.app-bar input[type="search"],
.app-bar input[type="tel"],
.app-bar input[type="text"],
.app-bar input[type="time"],
.app-bar input[type="url"],
.app-bar input[type="week"] {
  border-bottom: 2px solid white;
  color: var(--on-primary-color);
  background-color: transparent;
}

input::placeholder {
  opacity: .6;
  color: var(--on-surface-color);
}

button {
  min-width: 64px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--button-text-color);
  background-color: var(--button-color);
  background-position: center;
  transition: background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

button:not(.outlined-btn):not(.text-btn):enabled {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
}

button.outlined-btn,
button.text-btn {
  border: 1px solid var(--button-color);
  color: var(--button-color);
  background-color: transparent;
}

button.text-btn {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
}

button:disabled {
  color: rgba(128, 128, 128, .5);
}

button:not(.outlined-btn):not(.text-btn):disabled {
  background-color: rgba(128, 128, 128, .14);
}

button.outlined-btn:disabled {
  border: 1px solid rgba(128, 128, 128, .14);
}

button:enabled:hover {
  cursor: pointer;
  filter: brightness(90%);
}

button:enabled:not(.outlined-btn):not(.text-btn):hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

.fab-btn {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 56px;
  bottom: 50px;
  height: 70px;
  overflow: hidden;
  transition: height 0ms linear 1500ms;
  width: 70px;
}

.fab-btn:hover {
  height: 460px;
  transition: height 0ms linear 0ms;
}

.fab-btn button.small {
  transform: scale(0);
}

.fab-btn:hover button.small {
  transform: scale(1);
}

.fab-btn:hover button.small:nth-of-type(2) {
  transition: transform 200ms ease-in-out 0ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn:hover button.small:nth-of-type(3) {
  transition: transform 200ms ease-in-out 50ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn:hover button.small:nth-of-type(4) {
  transition: transform 200ms ease-in-out 100ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn:hover button.small:nth-of-type(5) {
  transition: transform 200ms ease-in-out 150ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn:hover button.small:nth-of-type(6) {
  transition: transform 200ms ease-in-out 200ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn:hover button.small:nth-of-type(7) {
  transition: transform 200ms ease-in-out 250ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button.small:nth-of-type(2) {
  transition: transform 200ms ease-in-out 1250ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button.small:nth-of-type(3) {
  transition: transform 200ms ease-in-out 1200ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button.small:nth-of-type(4) {
  transition: transform 200ms ease-in-out 1150ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button.small:nth-of-type(5) {
  transition: transform 200ms ease-in-out 1100ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button.small:nth-of-type(6) {
  transition: transform 200ms ease-in-out 1050ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button.small:nth-of-type(7) {
  transition: transform 200ms ease-in-out 1000ms, background 0.8s, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 100ms linear;
}

.fab-btn button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  font-size: large;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: var(--on-secondary-color);
  background-color: var(--secondary-color);
  margin-left: 7px;
}

.fab-btn button.small {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  margin-left: 15px;
  margin-bottom: 16px;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}

button:focus,
input:focus,
textarea {
  outline: 0;
}


/* Ripple Effect */

button:enabled:hover {
  background: var(--button-color) radial-gradient(circle, transparent 1%, var(--button-color) 1%) center/15000%;
}

button:enabled.outlined-btn:hover,
button:enabled.text-btn:hover {
  background: #0001 radial-gradient(circle, transparent 1%, #0001 1%) center/15000%;
}

.fab-btn button:enabled:hover {
  background: var(--secondary-color) radial-gradient(circle, transparent 1%, var(--secondary-color) 1%) center/15000%;
}

.fab-btn button.small:enabled:hover {
  background: var(--surface-color) radial-gradient(circle, transparent 1%, var(--surface-color) 1%) center/15000%;
}

button:enabled:active,
button:enabled.outlined-btn:active,
button:enabled.text-btn:active,
.fab-btn button:enabled:active,
.fab-btn button.small:enabled:active {
  background-color: #aaaaaa;
  background-size: 100%;
  transition: background 0s;
}

button:enabled:active,
button:enabled.outlined-btn:active,
button:enabled.text-btn:active {
  background-color: transparent;
}

button:enabled:active,
.fab-btn button:enabled:active {
  background-color: #ffffff;
}


/* ------------- */

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

:not(.drawer):not(.menu)>input[type="checkbox"]+label:before,
:not(.tabs)>input[type="radio"]+label:before {
  content: '\2000';
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 4px;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 3px;
  padding-bottom: 6px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2em;
  transition: background 100ms ease-in-out, border 100ms ease-in-out;
}

:not(.tabs)>input[type="radio"]+label:before {
  border-radius: 100%;
}

:not(.drawer):not(.menu)>input[type="checkbox"]:checked+label:before,
:not(.tabs)>input[type="radio"]:checked+label:before {
  content: '\2714\00FE0E';
  color: var(--surface-color);
  background-color: var(--checkbox-radio-color);
  border-color: var(--checkbox-radio-color);
}

:not(.tabs)>input[type="radio"]:checked+label:before {
  content: '\2000';
  background: radial-gradient(circle, var(--checkbox-radio-color), var(--checkbox-radio-color) 42%, transparent 47%);
  border: 2px solid var(--checkbox-radio-color);
}

:not(.drawer):not(.menu)>input[type="checkbox"]:disabled+label:before {
  border-color: #d3d3d380;
  color: var(--surface-color);
  background-color: transparent;
}

:not(.drawer):not(.menu)>input[type="checkbox"]:checked:disabled+label:before {
  border-color: transparent;
  background-color: #d3d3d380;
}

:not(.tabs)>input[type="radio"]:disabled+label:before {
  border-color: #d3d3d380;
  background-color: transparent;
}

:not(.drawer):not(.menu)>input[type="radio"]:checked:disabled+label:before {
  background: radial-gradient(circle, #d3d3d380, #d3d3d380 42%, transparent 47%);
}