<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <style>
    html,
    body {
      margin: 0;
      font-family: Roboto, sans-serif;
    }
  </style>
  <link href="../fonts/fonts.css" rel="stylesheet">
  <link rel="stylesheet" href="common.css" type="text/css">
  <link rel="stylesheet" href="menu.css" type="text/css">
</head>

<body>

  <!-- Opens to the right. -->
  <div class="menu icon">
    <input type="checkbox" id="menu">
    <label for="menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 18c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0-9c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0-9c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3z"/></svg>
    </label>
    <div>
      <button>Menu Item 1</button>
      <button>Menu Item 2</button>
      <hr>
      <button>Menu Item 3</button>
    </div>
  </div>

  <div style="width: 100px; display: inline-block;"></div>

  <!-- Opens to the left. -->
  <div class="menu icon left">
    <input type="checkbox" id="menu2">
    <label for="menu2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 18c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0-9c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm0-9c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3z"/></svg>
    </label>
    <div>
      <button>Menu Item 1</button>
      <button>Menu Item 2</button>
      <hr>
      <button>Menu Item 3</button>
    </div>
  </div>

</body>

</html>