.tabs {
  margin: 0;
  padding-top: 0;
  background-color: var(--primary-color);
  height: 48px;
  width: 100%;
  box-shadow: 1px 1px 1px #0005;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs>label:first-of-type {
  margin-left: 10px;
}

.tabs>label {
  margin: 0;
  position: relative;
  height: 48px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: var(--on-primary-color);
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 13px;
  background-position: center;
}

.tabs>label span {
  font-weight: 500;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.tabs>div {
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

.tabs>input[type="radio"]:checked+label {
  border-bottom: 2px solid var(--on-primary-color);
}

.tabs>.tab-content {
  margin: 0;
  width: calc(100vw - (100vw - 100%));
  position: absolute;
}

.tabs>input[type="radio"],
.tabs>input[type="radio"]+label+.tab-content {
  display: none;
}

.tabs>input[type="radio"]:checked+label+.tab-content {
  display: block;
}

/* Ripple Effect */

.tabs>label {
  transition: background 0.8s;
  background: var(--button-color) radial-gradient(circle, transparent 1%, var(--button-color) 1%) center/15000%;
}

.tabs>label:active {
  background-size: 100%;
  transition: background 0s;
  background-position: center;
}

.tabs>label:active {
  background-color: #ffffff55;
  background-position: center;
}