<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Radio Tabs</title>
  <style>
    html,
    body {
      margin: 0;
      font-size: large;
      font-family: Arial, Helvetica, sans-serif;
    }
    .tabs label {
      color: white;
    }
  </style>
  <link rel="stylesheet" href="tabs.css" type="text/css">
</head>

<body>
  <div class="tabs">
    <input type="radio" name="tab" id="tab1" checked><label for="tab1">Tab 1</label>
    <div>Tab 1 Content</div>
    <input type="radio" name="tab" id="tab2"><label for="tab2">Tab 2</label>
    <div>Tab 2 Content</div>
    <input type="radio" name="tab" id="tab3"><label for="tab3">Tab 3</label>
    <div>Tab 3 Content</div>
  </div>
</body>

</html>