.tabs {
  margin: 0;
  padding-top: 0;
  background-color: var(--primary-color);
  height: 2rem;
  width: 100%;
  box-shadow: 1px 1px 1px #0005;
}

.tabs>span {
  position: fixed;
  top: 0px;
  left: 0px;
}

.tabs>a:first-of-type {
  margin-left: 10px;
}

.tabs>a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5625rem;
  margin: 0;
  position: relative;
  height: 2rem;
  display: inline-block;
  cursor: pointer;
  color: var(--on-primary-color);
  text-decoration: none;
  position: relative;
}

.tabs>div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem;
  margin: 0;
  width: calc(100vw - (100vw - 100%));
  position: absolute;
}

.tabs>span:target+a {
  border-bottom: 2px solid var(--on-primary-color);
}

.tabs>div {
  display: none;
}

.tabs>span:target+a+div {
  display: block;
}