<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tabs</title>
  <style>
    html,
    body {
      margin: 0;
      font-family: Roboto, sans-serif;
    }
  </style>
  <link href="../fonts/fonts.css" rel="stylesheet">
  <link rel="stylesheet" href="common.css" type="text/css">
  <link rel="stylesheet" href="tabs.css" type="text/css">
</head>

<body>
  <div class="tabs">
    <input type="radio" name="tab" id="tab1" checked><label for="tab1">TAB 1</label>
    <div>Tab 1 Content</div>
    <input type="radio" name="tab" id="tab2"><label for="tab2">TAB 2</label>
    <div>Tab 2 Content</div>
    <input type="radio" name="tab" id="tab3"><label for="tab3">TAB 3</label>
    <div>Tab 3 Content</div>
  </div>
</body>

</html>