<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tabs</title>
  <style>
    html,
    body {
      margin: 0;
      font-family: Roboto, sans-serif;
    }
  </style>
  <link href="../fonts/fonts.css" rel="stylesheet">
  <link rel="stylesheet" href="common.css" type="text/css">
  <link rel="stylesheet" href="tabs.css" type="text/css">
</head>

<body>

  <div class="tabs">
    <input type="radio" name="tabs1" id="tab1" checked><label for="tab1"><span>TAB 1</span></label>
    <div class="tab-content">Tab 1 Content</div>
    <input type="radio" name="tabs1" id="tab2"><label for="tab2"><span>TAB 2</span></label>
    <div class="tab-content">Tab 2 Content</div>
    <input type="radio" name="tabs1" id="tab3"><label for="tab3"><span>TAB 3</span></label>
    <div class="tab-content">Tab 3 Content</div>
  </div>

  <br>
  <br>
  <br>

  <div class="tabs surface-color">
    <input type="radio" name="tabs2" id="tab2-1" checked><label for="tab2-1"><span>TAB 1</span></label>
    <div class="tab-content">Tab 1 Content</div>
    <input type="radio" name="tabs2" id="tab2-2"><label for="tab2-2"><span>TAB 2</span></label>
    <div class="tab-content">Tab 2 Content</div>
    <input type="radio" name="tabs2" id="tab2-3"><label for="tab2-3"><span>TAB 3</span></label>
    <div class="tab-content">Tab 3 Content</div>
  </div>

</body>

</html>