.tabs {
  margin: 0;
  padding-top: 0;
  background-color: var(--primary-color, #0091EA);
  height: 36px;
  width: 100%;
  box-shadow: 1px 1px 1px #0005;
}
.tabs>label:first-of-type {
  margin-left: 10px;
}
.tabs>label {
  margin: 0;
  position: relative;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  color: white; /* add var color */
}

.tabs>label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
}
.tabs>div {
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tabs>input[type="radio"]:checked+label {
  border-bottom: 2px solid white;
}

.tabs>div {
  margin: 0;
  width: calc(100vw - (100vw - 100%));
  position: absolute;
}

.tabs>input[type="radio"],
.tabs>input[type="radio"]+label+div {
  display: none;
}

.tabs>input[type="radio"]:checked+label+div {
  display: block;
}